<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
</head>
<body>
    <nav class="nav"><a class="nav-home" href="{{ url_for('dashboard') }}">Home</a></nav>
    <div class="container">
        <h1>simon says good luck!</h1>
        <p> The world is your canvas :)</p> 
            
    </marquee>
    </div>
    <script>
        setTimeout(function() {
            window.location.href = "{{ url_for('dashboard') }}";
        }, 10000);
    </script>
</body>
</html>
